# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build
dist
build

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Environment/Config
.env
ormconfig.json
docker-compose.yml
